<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
</head>
<body ng-app="myGallery" ng-controller="GalleryController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gallery", "Index", "Gallery", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{true:'active'}[currentContent===0]"><a ng-click="changeContent(0)">Home</a></li>
                    <li ng-class="{true:'active'}[currentContent===1]"><a ng-click="changeContent(1)">Like</a></li>
                    <li ng-class="{true:'active'}[currentContent===2]"><a ng-click="changeContent(2)">Dislike</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderSection("body")
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>